@using GridMvc.Html

@{
    ViewBag.Title = "Home Page";
}

@model IList<Application.Model.Notifications.NotificationDto>

@section css {

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

}  
<div>

    @Html.Grid(Model).AutoGenerateColumns().Sortable().Filterable().WithPaging(10)

</div>

@section Scripts {

    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>

}